body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 90vh;
    background-image: url('./assets/dr.hook.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: rgb(169, 16, 138);
}

.cta-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
